<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://borealis.documents.azure.com:443/" />
    <add key="PrimaryKey" value="DUka4qAn3vcbVs2OdqP7fDI2z0NgowrgkthhxiATB13dXRvOMNuQJoHxz8tzDXu1VtnOvrLCTcL9NF5QqfavRw==" />
  </appSettings>
</configuration>